<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <th:block th:insert="~{layout/layout::library}"/>
</head>
<body>
<th:block th:replace="~{layout/layout::my-navbar}"/>
<h1>Create student</h1>
<form action="/student/add" method="post" th:object="${studentDto}">
  Name:<input th:field="*{name}" placeholder="enter name"><br>
    <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small><br>
  Gender:<input type="radio" th:field="*{gender}" value="true"> Male
  <input type="radio" th:field="*{gender}" value="false"> Female<br>
  <button>Save</button>
</form>
</body>
</html>